body {
  background-color: #222;
}

.title {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 800;
  color: rgb(243, 85, 85);
}

label {
  font-size: 17px;
  font-weight: 600;
  color: rgb(131, 83, 243);
}

.input_box {
  width: 100px;
  padding: 5px;
  border: solid 5px;
  border-color: rgb(131, 83, 243);
  margin: 10px 30px 10px 10px;
}

button {
  background-color: rgb(243, 85, 85);
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px 30px;
  margin: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.timer {
  font-size: 100px;
  font-weight: 600;
  margin-top: 120px;
  padding-top: 20px;
  color: rgb(255, 199, 96);
}

.msg {
  margin-top: 50px;
  font-size: 20px;
  color: rgb(255, 199, 96);
}
